@import "./_mixins.scss";

footer {
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  padding: $list-height $page-horizontal-padding;
  a,
  a:visited {
    color: $primary;
    &:hover {
      color: lighten($primary, 30%);
      transition-duration: 0.25s;
    }
  }
}