@import "./_mixins.scss";

html,
body,
#root,
.App {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-display: swap;

  font-size: 1.1rem;

  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  font-size: 1.1rem;
}

nav,
footer,
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 1.2rem;
}

.horizontal-list {
  li {
    list-style-type: none;
    display: inline;
    a {
      text-decoration: none;
      padding: $list-height $list-spacing;
    }
  }
}

main {
  flex: 1 0 auto;
  padding: 0 $page-horizontal-padding;
  margin: 0 auto;
  margin-top: 3rem;
  p {
    line-height: 1.5rem;
  }
  a,
  a:visited {
    color: $primary;
  }
}
