@import "./_mixins.scss";

nav {
  background-color: $primary;
  padding: $list-height $page-horizontal-padding;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li {
      &:first-child {
        margin-right: auto;
      }
      a {
        color: $white;
        &:hover {
          color: darken($white, 40%);
          transition-duration: 0.25s;
        }
        &.active {
          color: darken($white, 40%);
        }
      }
    }
  }
}
