@import "./_mixins.scss";

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .project {
    border-radius: 0.25rem;
    border: 1px solid $primary;
    margin: 1rem 1rem;
    width: 400px;

    & > img {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
    .p-info {
      box-sizing: border-box;
      padding: 1rem 2rem;
      h3 {
        text-align: center;
      }
      p {
        font-size: 0.75rem;
      }
      .btns {
        text-align: center;
        > a {
          color: $white;
          background-color: $primary;
          text-decoration: none;
          font-size: 0.75rem;
          border-radius: 1rem;
          margin: 0.25rem;
          padding: 0.35rem 1.5rem;
          &:hover {
            background-color: lighten($primary, 25%);
            transition-duration: 0.25s;
          }
        }
      }
    }
  }
}
