/* Colors */
$white: white;
$black: black;
$primary: #191970; //MidnightBlue
$secondary: #6363bc;
$page-horizontal-padding: 1.5rem;
/* Ordered/Unordered Lists */
$list-height: 1rem;
$list-spacing: 0.7rem;

.primary {
  color: $primary;
}
.secondary {
  color: $secondary;
}

body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  margin: 0;
  //Font Family
  font-family: "Open Sans", sans-serif;
  font-display: swap;
  nav,
  footer,
  h1,
  h2,
  h3 {
    font-family: "Montserrat", sans-serif;
  }
  ul,
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}

.horizontal-list {
  li {
    list-style-type: none;
    display: inline;
    a {
      text-decoration: none;
      padding: $list-height $list-spacing;
    }
  }
}

nav {
  background-color: $primary;
  padding: $list-height $page-horizontal-padding;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li {
      &.home {
        margin-right: auto;
      }
      .active {
        color: darken($white, 40%);
      }
      a {
        color: $white;
        &:hover {
          color: darken($white, 40%);
          transition-duration: 0.25s;
        }
      }
    }
  }
}

main {
  flex: 1 0 auto;
  padding: 0 $page-horizontal-padding;
  margin: 0 auto;
  margin-top: 3rem;
  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }
  p {
    line-height: 1.5rem;
  }
  a,
  a:visited {
    color: $primary;
  }
  #skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    div {
      margin: 1rem 0.5rem;
      padding: 1rem 1.5rem;
      border: 1px solid $primary;
      border-radius: 0.25rem;
      width: 11rem;
      hr {
        border: 1px solid $primary;
      }
      h3 {
        text-align: center;
      }
      ul {
        padding-top: 0.25rem;
        li {
          list-style-type: none;
          text-align: left;
          font-size: 0.85rem;
          padding: 0.25rem 0;
          a {
            text-decoration: none;
            padding: $list-height $list-spacing;
          }
        }
      }
    }
  }
  #projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .project {
      border-radius: 0.25rem;
      border: 1px solid $primary;
      margin: 1rem 1rem;
      width: 400px;

      & > img {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }
      .p-info {
        box-sizing: border-box;
        padding: 1rem 2rem;
        h3 {
          text-align: center;
        }
        p {
          font-size: 0.75rem;
        }
        .btns {
          text-align: center;
          > a {
            color: $white;
            background-color: $primary;
            text-decoration: none;
            font-size: 0.75rem;
            border-radius: 1rem;
            margin: 0.25rem;
            padding: 0.35rem 1.5rem;
            &:hover {
              background-color: lighten($primary, 25%);
              transition-duration: 0.25s;
            }
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  padding: $list-height $page-horizontal-padding;
  a,
  a:visited {
    color: $primary;
    &:hover {
      color: lighten($primary, 30%);
      transition-duration: 0.25s;
    }
  }
}
